<script type="text/javascript">
<!--
checkDelete = function(id,type){
	if(confirm('你确定要删除该配置项？')){location.href='__URL__/delete/id/'+id+'ltype/'+type}
}
//-->
</script>
 <link rel="stylesheet" href="__PUBLIC__/css/reset.css" type="text/css"/>
 <link rel="stylesheet" href="__PUBLIC__/css/adminmain.css" type="text/css"/>
<div class="container solid1">
	<p class="xy"><span class="fontw">当前位置：</span>主题管理</p>
	<div class="content">
		<table>
			<tr class="homeheard">
		<td width="30%">预览</td>
		<td>是否为默认模板</td>
		<td width="20%">操作</td>
				</tr>
			<volist name="userLayout" id="layout" mod="2" >
		<tr <eq name="mod" value="0">
	 class="graybg"
</eq><eq name="mod" value="1"> class="whitebg"</eq> >
<td>{$layout.thumb}</td>
		<td><if condition="$layout.isdefault ==1 "> 是 <else /> 否 </if></td>
		<td class="managehometd"><a href="__APP__/Admin/Layout/edit/id/{$layout.id}"><img src="__PUBLIC__/images1/updatehome.gif"/>修改</a>
		 |
		 <a href="__APP__/Admin/Layout/setDefault/id/{$layout.id}/ltype/{$layout.layoutType}"><img src="__PUBLIC__/images1/defaultconfig.gif"/>设置默认</a>
		 |  <a href="javascript:void(0);" onclick="javascript:checkDelete('{$vo.id}','{$layout.layoutType}');">
		 <a href="__APP__/Admin/Layout/getThumBnail/layoutId"><img src="__PUBLIC__/images1/cutpic.gif"/>截图</a>
		 |  <a href="javascript:void(0);" onclick="javascript:checkDelete('{$vo.id}','{$layout.layoutType}');">
		 	<img src="__PUBLIC__/images1/delhome.gif"/>删除</a></td></tr>
		 </volist>
		</table>
		
		
		
		<br>
		<table>
			<tr class="homeheard">
		<td width="30%">序号</td>
		<td >缩略图</td>
		<td width="20%">操作</td>
	</tr>
	<volist name="layouts" id="layout">
	<tr  <eq name="mod" value="0">
	 class="graybg"
</eq><eq name="mod" value="1"> class="whitebg"</eq> >
		<td>{$key+1}</td>
		<td>{$layout.path}/{$layout.thumb}</td>
		<td class="managehometd"><a href="__APP__/Admin/Layout/preview/id/{$layout.id}"><img src="__PUBLIC__/images1/showhome.gif"/>预览</a>&nbsp;|&nbsp;<a
			href="__APP__/Admin/Layout/apply/id/{$layout.id}"><img src="__PUBLIC__/images1/defaultconfig.gif"/>应用</td>
	</tr>
	</volist>
</table>
	</div>
</div>



