.footer{text-align: center;}
.footbgline{height:3px;width:1000px; background:url("/Public/images/bottombar.jpg") repeat-x; margin-top:30px;}
.footer a{color: #333;font-family: '宋体';padding: 0 7px;text-decoration: none;}