div, td, ul, li, dl, dt, dd, h2, h3, h4 {list-style: none;margin: 0;padding: 0;}
*{font-family: "微软雅黑";font-size: 12px;}


.xfui-lselect-label{color:#C60000;font-weight: bold;display: inline-block;}
.xfui-lselect-content{display: inline-block;}
.xfui-lselect-content span{display: inline-block;margin: 5px;color:#6899C0;text-decoration: none;cursor: pointer;}
span.b{color:#FF6C00;font-weight: bold;}


.xfui-lselect-condition .xfui-lselect-item{margin-bottom: 10px;}

.xfui-lselect .xfui-lselect-img{float: left;height: 125px;margin-right: 20px;}
.xfui-lselect-choosed{float: left;margin: 4px;}
.xfui-lselect-show{display: block !important;}
.xfui-lselect-show .xfui-lselect-search{height:27px;width:67px;display: inline-block;background: url("../images/search.png") no-repeat;}
.xfui-lselect-show .xfui-lselect-label{float: left;display: inline;font-weight: normal;font-size: 14px;color:#404040;}
.xfui-lselect-show .xfui-lselect-choosed a{padding: 0 20px 0 5px;float: left;display: inline;margin-left: 5px;position: relative;line-height: 19px;white-space: nowrap;color: #404040;background: white;border: 1px solid #E6E6E6;}
.xfui-lselect-show .xfui-lselect-choosed a:hover{cursor: pointer;}
.xfui-lselect-show .xfui-lselect-choosed b{background: url(http://img03.taobaocdn.com/tps/i3/T1C_6rXe0qXXbOKqT4-200-312.png) no-repeat;width: 13px;height: 13px;position: absolute;right: 2px;top: 3px;background-position: 0 -54px;}